.counterblock {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
}

.buttons button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin: 5px;
  font-family: 'Times New Roman', Times, serif;
}

.increaseCounter {
  background-color: green;
  color: rgb(255, 255, 255);
}

.decreaseCounter {
  background-color: red;
  color: rgb(255, 255, 255);
}

.textBody {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 5px;
}

.mybutton {
  width: 50px;
  border: 1px solid black;
  border-radius: 5px;
}

.task4Block {
  width: 300px;
  height: 300px;
  padding: 5px;
  border: 2px solid black;
  margin-top: 5px;
}

#userInput {
  width: 120px;
  padding: 3px 8px 3px 8px;
}

.task5block {
  width: 300px;
  height: fit-content;
  display: flex;
  padding: 5px;
  margin-top: 5px;
  border: 2px solid black;
  flex-direction: column;
}

.task5InputBlock input {
  margin: 5px;
}

.task5OutputBlock {
  margin: 5px;
}