.usercard {
    border: 2px solid black;
    margin: 4px;
    padding: 4px;
    width: 300px;
}

.cards {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.productCard {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    margin: 5px;
    flex-direction: column;

}

.img {
    width: 300px;
    height: 300px;
}

.bg-red {
    color: red;
}